
:root {
  --night: #0c090dff;
  --amaranth: #e01a4fff;
  --tomato: #f15946ff;
  --saffron: #f9c22eff;
  --moonstone: #53b3cbff;
  --deftblue: #3D405B;
  --charcoal: #404E5C;
  --mintcream: #F4FFFD;
  --onyx: #424242;
  --raisinblack: #272838;
  --eerieblack: #1B2021;
  --emerald: #2DD881;
  --keppel: #4EA699;
  --redcrayola: #EE4266;
  --verdigris: #3CBBB1;
  --carrotorange: #EA9010;
  --aureolin: #F7E733;
  --mimipink: #F2CEE6;
  --plum: #F9B9F2;
}

html {
  -webkit-tap-highlight-color:transparent;
}

body {
  background-color: var(--eerieblack);
}

h1 {
  margin: 0;
}

#instruments-container {
  margin: 5px;
}

#App {
  width: 100%;
  height: 100%;
}

#header {
  background-color: var(--redcrayola);
  width: 100%;
  height: 80px;
  border-bottom: 2px solid var(--saffron);
}

#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#header ul li {
  display: block;
  list-style: none;
  display: inline-block;
}

.unselectable-text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-row {
  display: flex;
  flex-direction: row;
}

.horizontal-row * {
  margin: 2px;
}

#keyboard-container {
  width: 94%;
  height: 80px;
  margin-left: 2%;
  margin-right: 2%;
}

#guitar-container {
  margin: 0px;
}

#clear-notes-button {
  width: 200px;
  margin-top: 20px;
}

#mute-button {
  width: 50px;
  height: 50px;
}

.mute-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
}

.note-label-container {
  display: flex;
/*  white-space: nowrap;*/
  padding-bottom: 3px;
  padding-left: 1px;
  width: 90%;
  height: 95%;
}

.note-label-octave { 
  position: relative; 
  bottom: -2px;
  left: -1px;
  font-size: 0.35rem; 
  align-self: flex-end;
}

.note-label-name {
  font-size: 0.5rem;
  bottom: 2px;
  align-self: flex-end;
  padding-left: 1px;

}

.ReactPiano__NoteLabelContainer {
  height: 100%;
  margin-top: auto;
}

.ReactPiano__Key {
  user-select: none;
}

.ReactPiano__Key--natural {
  background: var(--mintcream) !important;  /* Change the default active key color to bright red */
}
 
.ReactPiano__Key--accidental {
  background: var(--night) !important;  /* Change accidental keys to be completely black */
}

.ReactPiano__Key--active {
  background: var(--emerald) !important;
}
