
body {
  margin: 8px;
}

#App {
  width: 100%;
  height: 100%;
}

.unselectable-text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.note-label-container {
  display: block;
  white-space: nowrap;
  padding-bottom: 3px;
  padding-left: 1px;
  width: 90%;
}

.note-label-octave { 
  position: relative; 
  bottom: -3px;
  left: -4px;
  font-size: 0.05em; 
}

.note-label-name {
  font-size: 0.7em;
  bottom: 2px;
}
